.body {
    font-family: "Open Sans";
}

.header {
    background-size: cover;
    color: #ffffff;
    height: 0px;
}

.header_wrapper {
    width: 100%;
    margin: 0 auto;
}

.header_top {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 50px 0px 185px 30px;
    margin: 0;
}

.header_logo {
    width: calc(50% - 30px);
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    font-weight: 400;
    z-index: 999;
}

.header_logo span {
    font-weight: 700;
}

.color_orange {
    color: #f75f0d;
}

.header_menu {
    width: calc(50% - 30px);
    text-align: right;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0px;
    z-index: 999;
}

.header_icon-menu {
    padding-left: 10px;
    position: relative;
    bottom: -9px;
    font-size: 30px !important;
}

.nav_menu {
    display: inherit;
    height: 17px;
    padding-block-end: 70px;
    z-index: 999;
}

.nav_menu a {
    line-height: 17px;
    color: #ffffff;
}

.nav_menu button {
    border: none;
    color: #ffffff;
}

#menuModal {
    background-color: rgba(0, 0, 0, 0.7);
}

#menuModal .modal-content {
    background-color: rgba(0, 0, 0, 0.8);
}

#menuModal .modal-header {
    border-block-start: 0px;
    border-block-end: 0px;
}

#menuModal .modal-body {
    border-block-start: 0px;
    border-block-end: 0px;
}

#menuModal .modal-footer {
    border-block-start: 2px;
    border-block-start-color: #f75f0d;
    border-block-start-style: solid;
    align-items: center;
    align-self: center;
}

#menuModal .modal-footer i {
    font-size: 24px;
}

.modal-body ul {
    text-align: center;
    margin-left: -12%;
}

.modal-body ul a {
    font-size: 35px;
    line-height: 70px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.modal-body ul .active {
    color: orangered;
}

#hireModal {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

#hireModal .modal-footer {
    border-block-end-width: 0px;
}

#hireModal-content {
    background-color: #ffffff;
    width: 763px;
    height: 736px;
}

#hireModal-content .modal-header {
    border-block-start: 0px;
    border-block-end: 0px;
}

#hireModal-content .modal-body {
    border-block-start: 0px;
    border-block-end: 0px;
}

#hireModal-content .modal-footer {
    border-block-start: 0px;
    border-block-end: 0px;
    margin-right: 10%;
}

#btn-closeModal {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    background-color: #3b434b;
    margin-top: -38px;
    margin-right: -38px;
}

#hireModal input {
    width: 554px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 3%;
    margin-bottom: 2%;
    padding-left: 20px;
}

.message-input {
    width: 554px;
    height: 231px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 3%;
    margin-bottom: 2%;
    padding-left: 20px;
}

.btn-sendmessage {
    width: 555px;
    height: 50px;
    border-radius: 10px;
    background-color: #f75f0d;
    font-weight: bold;
    text-transform: uppercase;
}

.icon {
    transform: translate(-50%, -50%);
    display: block;
}

.header_content {
  text-align: center;
  position: relative;
}

.header_title {
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    padding-top: 150px;
}

.header_title-text {
    width: 774px;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 auto;
    margin-block-start: 40px;
    height: 80px;
}

.btn_header {
    width: 10px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    width: 210px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(59, 67, 76, 0);
    background: transparent;
    text-transform: uppercase;
    margin-bottom: 190px;
    margin-top: 60px;
    margin-right: 2%;
}

.btn_header:hover {
    background-color: #f75f0d;
    border: 1px solid rgba(59, 67, 76, 0.8);
}

.header-icon {
    color: #ffffff;
    margin-bottom: 50px;
}

.carousel-fade .background {
    background-position: center center;
    background-size: 100% 100%;
    height: 700px;
}

.slideFilter {
    background: rgba(59, 67, 76, 0.9);
    height: 800px;
}

.carousel-fade .background.a {
    background: url("../images/header.png") center;
    background-size: cover;
    color: #ffffff;
}

.carousel-fade .background.b {
    background: url("../images/background2.png") center;
    background-size: cover;
    color: #ffffff;
}

.carousel-fade .background.c {
    background: url("../images/background3.png") center;
    background-size: cover;
    color: #ffffff;
}

.carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
    transition: opacity 0.5s;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.wrapper {
    max-width: 1200px;
    align-items: center;
}

.offer {
    display: flex;
    flex-wrap: wrap;
}

.offer_item {
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    width: calc(25% - 30px);
    padding-top: 100px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.offer_title {
    font-size: 16px;
    line-height: 40px;
    color: #3b434c;
    font-weight: bold;
}

.offers_description {
    font-size: 14px;
    line-height: 26px;
    color: #3b434c;
    padding: 5px;
    max-height: 80px;
    overflow: hidden;
}

.circle-btn {
  width: 151px;
  height: 151px;
  border-radius: 75px;
  background-color: #ffffff;
  border: 1px solid rgba(59, 67, 76, 0);
}

.circle-btn:hover {
    border: 1px solid rgba(59, 67, 76, 0.3);
}

.subscribe {
    background: url(../images/cofffe.png) center center no-repeat;
    background-size: cover;
}

.subscribe_background {
    background-color: rgba(59, 67, 76, 0.9);
    height: 250px;
}

.subscribe_content {
    display: flex;
    flex-wrap: wrap;
}

.subscribe_item {
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    width: calc(100% - 30px);
    text-align: center;
}

.subscribe_item input {
    width: 562px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 100px 15px 10px 0px;
}

.subscribe_item button {
    font-weight: bold;
    width: 269px;
    height: 50px;
    border-radius: 10px;
    background-color: #f7600e;
    text-transform: uppercase;
    color: white;
}

.portfollio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
}

.portfollio_tilte {
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    width: calc(100% - 30px);
    color: #3b434c;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 100px 0px 30px 0;
}

.portfollio_content {
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    width: calc(50% - 30px);
    color: #3b434c;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    height: 62px;
    margin-bottom: 30px;
}

.portfollio_img {
    width: 360px;
    height: 360px;
    border-radius: 10px;
    background-color: #ffffff;
}

.abazoo-mask {
    background: #f75f0d;
    position: absolute;
    width: 360px;
    height: 360px;
    opacity: 0;
    display: none;
    border-radius: 10px;
}

.abazoo-mask .container {
    padding-top: 30%;
}

.abazoo-mask a {
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    margin-block-start: 10px;
}

.abazoo-mask p {
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}

#btnShowProject {
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
}

#btnShowProject a {
    font-size: 16px;
    line-height: 40px;
    color: #f7600e;
    font-weight: bold;
}

.project {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project:hover .abazoo-mask {
    opacity: 0.8;
    display: block;
    cursor: pointer;
}

.content-three-item img {
    width: 300px;
    height: 200px;
}

.card {
    border: none;
}

.card-group {
    padding: 0.5%;
}

.btn_showMore {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 210px;
    height: 50px;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
}

.btn_showMore:hover {
    background: #ffffff;
    border: 0.8px solid #3b434c;
}

.testimonials {
    background: url(../images/woman-690036.png) center center no-repeat;
    background-size: cover;
    color: #ffffff;
    background-position: 50% 80%;
}

.testimonials_background {
    background-color: rgba(59, 67, 76, 0.9);
    height: 500px;
}

.testimonials_column-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
}

.testimonials_item {
    width: calc(50%-60px);
}

.testimonials_item img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #ffffff;
}

.testimonials_content {
    height: 80px;
    font-size: 25px;
    line-height: 40px;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    margin: 50px;
}

.testimonials_clientName {
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    text-align: center;
    margin-bottom: 220px;
}

.team_title {
    width: calc(100% - 30px);
    color: #3b434c;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 100px 0 30px;
}

.team_desciption {
    width: calc(100% - 30px);
    height: 62px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #3b434c;
    text-align: center;
    padding: 0 300px 130px;
}

.team_memmber {
    width: calc(25% - 30px);
    color: #9da1a5;
    filter: grayscale(100%);
}

.team_memmber:hover {
    margin-top: -2%;
    filter: grayscale(0%);
}

.team_memmber i {
    font-size: 24px;
}

.team_name {
    font-size: 25px;
    line-height: 10px;
    color: #3b434c;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.team_about {
    width: 262px;
    height: 42px;
    font-size: 14px;
    line-height: 26px;
    color: #3b434c;
    text-align: center;
    padding: 10px;
}

.contact-pic {
    width: 235px;
    height: 284px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(59, 67, 76, 0.3);
}

.feedback {
    background: url(../images/footer.png) center;
    background-size: cover;
    color: #ffffff;
    background-position: 50% 80%;
}

.feedback_background {
    background-color: rgba(59, 67, 76, 0.9);
    height: 800px;
    text-align: center;
}

.feedback_title {
    font-size: 35px;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
    padding-block-start: 100px;
}

.feadback_description {
    height: 62px;
    font-size: 16px;
    line-height: 30px;
    width: 50%;
    margin: 10px auto;
}

.feedback_form {
    width: 70%;
    margin: 40px auto;
}

.feedback_form input {
    width: 47.5%;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    float: left;
    margin-bottom: 30px;
}

.feedback_form textarea {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    border-radius: 10px;
}

.feedback_form button {
    width: 210px;
    height: 50px;
    background-color: #f7600e;
    border: transparent;
    border-radius: 10px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    float: left;
    margin-top: 30px;
}

.feedback_form-icon {
    font-size: 11px;
    float: right;
    margin-top: 30px;
}

.footer {
    width: 100%;
    height: 141px;
    background-color: #3b434c;
    font-family: "Open Sans";
    color: #ffffff;
}

.footer_copyright {
    display: flex;
    float: left;
    padding-block-start: 50px;
}

.footer_author {
    display: flex;
    float: right;
    padding-block-start: 50px;
    padding-right: -200px;
}

.carousel-item .active {
    margin-right: 100px;
}

.carousel-control-prev {
    font-size: 50px;
    left: -10%;
}

.carousel-control-next {
    font-size: 50px;
    right: -10%;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

@media screen and (max-width:470px) {
    .header_title {
        font-size: 50px;
    }
    .header_title-text {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1em;
        width: 50%;
    }
    .circle-btn {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        padding: 0;
    }
    .circle-btn img {
        height: 70%;
        width: 70%;
    }
    .offer_item {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .offer_title {
        font-size: 8px;
        text-align: center;
        line-height: 16px;
        /* color: #ffffff; */
    }
    .offers_description {
        text-align: center;
        color: #ffffff;
    }
    .portfollio_content,
    .testimonials_content,
    .team_desciption,
    .feadback_description {
        text-overflow: ellipsis;
        overflow: hidden;
        color: #ffffff;
    }
    .subscribe_item input {
        width: 300px;
        height: 40px;
    }
    .subscribe_item button {
        width: 150px;
        height: 40px;
    }
    .team_name {
        font-size: 14px;
    }
    .team_memmber i {
        font-size: 12px;
    }
    .contact-pic {
        width: 70%;
        height: 70%;
    }
    .team_memmber {
        height: 50%;
        width: 70%;
    }
    .team_about {
        text-align: center;
        margin: 15px;
        overflow: hidden;
    }
}

@media screen and (min-width:471px) and (max-width:780px) {
    .header_title {
        font-size: 55px;
    }
    .header_title-text {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.3em;
        width: 70%;
    }
    .circle-btn {
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin: auto;
    }
    .offer_title {
        text-align: center;
    }
    .offers_description {
        text-align: center;
    }
    .portfollio_content {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .testimonials_content,
    .team_desciption,
    .feadback_description {
        text-overflow: ellipsis;
        overflow: hidden;
        color: #ffffff;
    }
    .subscribe_item input {
        width: 450px;
        height: 40px;
    }
    .subscribe_item button {
        width: 200px;
        height: 40px;
    }
    .team_name {
        font-size: 12px;
    }
    .team_memmber i {
        font-size: 10px;
    }
    .contact-pic {
        width: 50%;
        height: 50%;
    }
    .team_memmber {
        height: 50%;
        width: 50%;
    }
    .team_about {
        font-size: 12px;
        overflow: hidden;
        margin-block-start: 15px;
    }
    .portfollio_img {
        height: 150px;
        width: 150px;
    }
    .abazoo-mask {
        height: 150px;
        width: 150px;
    }
    .abazoo-mask .container {
        padding-top: 10%;
    }
    .abazoo-mask a {
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
    }
    .abazoo-mask p {
        display: none;
    }
    .project {
        margin: 10px;
    }
    #btnShowProject {
        width: 80px;
        height: 70px;
        border-radius: 10px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        margin-bottom: 10px;
    }
    #btnShowProject a {
        font-size: 12px;
        line-height: 16px;
        color: #f7600e;
        font-weight: bold;
    }
}

@media screen and (min-width:781px) and (max-width:1200px) {
    .header_title {
        font-size: 65px;
    }
    .header_title-text {
        overflow: hidden;
    }
    .circle-btn {
        height: 130px;
        width: 130px;
        border-radius: 75px;
        margin: auto;
    }
    .offer_title {
        text-align: center;
    }
    .offers_description {
        text-align: center;
    }
    .portfollio_content,
    .testimonials_content,
    .team_desciption,
    .feadback_description {
        overflow: hidden;
    }
    .subscribe_item input {
        width: 500px;
        height: 45px;
    }
    .subscribe_item button {
        width: 250px;
        height: 45px;
    }
    .team_name {
        font-size: 14px;
    }
    .team_memmber i {
        font-size: 12px;
    }
    .contact-pic {
        width: 70%;
        height: 70%;
    }
    .team_memmber {
        height: 50%;
        width: 70%;
    }
    .team_about {
        font-size: 12px;
        width: 90%;
        overflow: hidden;
        text-align: center;
    }
    .portfollio_img {
        height: 300px;
        width: 300px;
    }
    .abazoo-mask {
        height: 300px;
        width: 300px;
    }
    .abazoo-mask a {
        font-size: 25px;
        line-height: 40px;
        font-weight: bold;
        margin-block-start: 10px;
    }
    .abazoo-mask p {
        font-size: 14px;
        line-height: 26px;
        color: #ffffff;
        text-align: center;
    }
    .project {
        margin: 20px;
    }
}